/*Definiendo letra*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0;
}
/*tamaño del header*/
header ul {
  width: 1300px;
}
/*quitando estilo a la lista*/
ul {
list-style: none;
padding: 0px;
margin: 0px;
line-height: 50px;
}
li {
padding: 0px;
display: inline-block;
}
/*Quitando estilo al anchor*/
a {
display: inline-block;
text-decoration: none;
margin: 20px;
}
/*definiendo y centrando iconos*/
span {
width: 80px;
text-align:center;
}
/*modelando la barra buscadora*/
.buscador {
width:900px;
height: 45px;
background: #EFEFEF;
text-align:right;
border-radius: 10px;
margin-top:5px;
display: inline-block;
}
.icon-search {
display: inline-block;
width:20px;   
} 
/*Haciendo el inpit para el buscador del header*/
input {
display:inline-block; 
width: 50%;
background-color: transparent;
border: none;
font-size: 18px;
padding-right: 180px;
}
.icon-close {
display:inline-block;
}
.icon-chevron-down {
display:inline-block;  
}
.icon-brand {
  font-size: 28px;
}
.icon-user {
  color:#BDC3C7;
  font-size: 28px;
}
.icon-navicon {
  color:#BDC3C7;
  font-size: 28px;
}
.icon-commenting {
  color:#BDC3C7;
  font-size: 28px;
}
/*linea separadora*/
hr {
  margin: 0;
}
.list {
  margin-left: 70px;
}
/*segunda lista del header*/
ul .list-2 {
  display: inline-block;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  background-image:url(https://fotos.subefotos.com/7541a34d77983b483fe7481e6e642edco.jpg);
  opacity: 1;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
}
/* definiendo detalles del header*/
header {
  width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  position: fixed;
  margin-bottom: 10px;
  background: #fff
}
/*poniedno imagenes para mostrar*/
img {
  display: inline-block;
  width:350px ;
  margin: 20px;
}
#photo7, #photo8, #photo9{
    padding-top:180px; 
}
main {
  width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
}
  
