body{
  font-family: 'Source Sans Pro', sans-serif;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 80px;
    /*outline: 1px solid black;*/
    }
    li{
      /*outline: 1px solid black;*/
      padding: 0px;
      display: inline-block;
    }
    a{
      /*outline: 1px solid black;*/
      display: block;
      height: 50px;
      width: 80px;
    }
    span{
      /*outline: 1px solid black;*/
      display: block;
      height: 50px;
      width: 80px;
      text-align:center;
    }
    div{
      width: 1000px;
      height: 50px;
      background: #BDC3C7;
      text-align: right;
      border-radius: 15px;
      top: 10px;
      position: relative;
      }
.icon-brand{
  font-size: 28px;
}
.icon-user{
  color:#BDC3C7;
  font-size: 28px;
}
.icon-navicon {
  color:#BDC3C7;
  font-size: 28px;
}
.icon-commenting{
  color:#BDC3C7;
  font-size: 28px;
}
div span{
  display: inline;
  position: relative;
  font-size: 20px;
  bottom: 10px;
}
.icon-search{
  right:380px;
}
.icon-close{
  right: 50px;
}
div strong{
  position: relative;
  right: 40px;
  bottom: 13px;
}
input{
  width: 50%;
  border: none;
  line-height: 20px;
  font-size: 18px;
  background-color: transparent;
  position: relative;
  left: 7px;
  display: inline-block;
}
.icon-chevron-down{
  right: 20px;
}
hr{
  margin: 0;
}
.list{
  margin-left: 70px;
}
ul .list-2 {
  /*outline: 1px solid black;*/
  display: inline-block;
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  background-image:url(https://fotos.subefotos.com/7541a34d77983b483fe7481e6e642edco.jpg);
  opacity: 1;
  color: #fff;
  line-height: 20px;
  font-weight: bold;
}
header {
  position: fixed;
  margin-bottom: 10px;
}
